img {
  display: block;
  float: left;
  max-width: 100%;
}

nav {
  background-color: darkred;
  display: flex;
  justify-content: space-around;
  color: black;
  font-family: sans-serif;
  font-weight: bold;
}

div {
  padding: 5px;
  flex: 1 1 auto;
  text-align: center;
  border: 2px solid white;
}



div:hover {
  background-color: red;
}
